/* cabeçalho */
.header{

    background-color: black;
    border-bottom: 2px solid #f44336;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    padding: 0.5rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

/* titulo */
.header span {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #b71c1c;
}

/* opçoes home & assistir */
.header nav {

    margin-right: 20px;
}

/* links das paginas */
.header a {

    text-decoration: none;
    color: white;
    padding-inline: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}